# my-plant-firmware ignore rules
my-plant-firmware/.pio
my-plant-firmware/.vscode/.browse.c_cpp.db*
my-plant-firmware/.vscode/c_cpp_properties.json
my-plant-firmware/.vscode/launch.json
my-plant-firmware/.vscode/ipch

