@import url("https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Bilbo+Swash+Caps&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

:root {
  --font-athiti: "Athiti", sans-serif;
  --font-bilbo-swash-caps: "Bilbo Swash Caps", cursive;
  --font-kanit: "Kanit", sans-serif;
  --font-mali: "Mali", sans-serif;
  --font-rubik: "Rubik", sans-serif;
}

body {
  font-family: var(--font-mali);
}

/* Sign in with Email */
@media (max-height: 300px) {
  .custom-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-height: 300px) and (max-height: 480px) {
  .custom-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-height: 470px) {
  .custom-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

label {
  @apply text-shadow-sm;
}

.form-header {
  @apply text-4xl text-shadow-sm font-bold text-center;
}

.form-header-prefix {
  @apply text-2xl text-shadow-sm font-bold text-center;
}

.form-input {
  @apply mt-1 block w-full p-2 rounded-md shadow-sm border border-green-300 transition duration-300;
}

.form-input:hover {
  @apply border-green-400;
}

.form-input:focus {
  @apply border-green-500 outline-none;
}

.form-submitButton {
  @apply text-white text-shadow-lg w-full bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2;
}

.form-submitServiceButton {
  @apply flex items-center justify-center gap-2 text-white text-shadow-lg w-full bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg px-4 py-2 text-center me-2 mb-2;
}
